h1 { color: red; }
h2.blue { color: blue; }
.gray { color: gray; }
#golden { color: rgb(236, 176, 24); }
.container :nth-child(2n+1) { background: yellow; }

ul :nth-child(2n+1) {
    background: pink;
    margin: 1em;
    color: rgb(15, 13, 13);
    padding: 1em;
    margin-top: 2em;
}

ul :nth-child(2n) {
    background: lightblue;
    margin: 1em 1em 1em 0;
    color: rgb(17, 15, 15);
    padding: 1em; 
}