* {
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-top: 1em;
    font-size: 1.2em;
}